<section class="col-md-3 store-block">
	<input class="app-search" placeholder="Search for apps" type="text">
	<div class="app-block">
		<div class="col-md-8">
			<h4>Twitter</h4>
			<p>Twitter is a free app that lets you connect with people, and express yourself.</p>
		</div>
		<button class="btn btn-danger">Disable</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Getty Images</h4>
			<p>Getty Images, Inc. creates and distributes imagery, video, music, and multimedia for your projects!</p>
		</div>
		<button class="btn btn-danger">Disable</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Pandora</h4>
			<p>Great music discovery is effortless and free with Pandora.</p>
		</div>
		<button class="btn btn-primary">Enable</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Google Search</h4>
			<p>Google Search app for VocalDash: The fastest, easiest way to find what you need on the web.</p>
		</div>
		<button class="btn btn-success">Buy $.99</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Google Maps</h4>
			<p>The Google Maps app for VocalDash makes navigating your world faster and easier. </p>
		</div>
		<button class="btn btn-primary">Enable</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Spotify</h4>
			<p>With Spotify, you have access to a world of music.  </p>
		</div>
		<button class="btn btn-success">Buy $.99</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Yahoo! Weather</h4>
			<p>Prepare for your day with the most accurate hourly, 5-day, and 10-day forecasts. </p>
		</div>
		<button class="btn btn-primary">Enable</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Yahoo!</h4>
			<p>Get the news you need and an endless stream of stories you love, summarized by Yahoo. </p>
		</div>
		<button class="btn btn-primary">Enable</button>
	</div>
	<img class="close-store" src="assets/close.svg" ng-click="openStore()" alt="">
</section>