<section class="col-md-3 store-block">
	<input class="app-search" placeholder="Search for apps" type="text">
	<div class="app-block">
		<div class="col-md-8">
			<h4>Twitter</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<button class="btn btn-danger">Disable</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Getty Images</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<button class="btn btn-danger">Disable</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Pandora</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<button class="btn btn-success">Enable</button>
	</div>
	<div class="app-block">
		<div class="col-md-8">
			<h4>Google Search</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		</div>
		<button class="btn btn-success">Buy</button>
	</div>
	<img class="close-store" src="assets/close.svg" ng-click="openStore()" alt="">
</section>