<html ng-app="main">
  <head>
    <link rel="stylesheet" href="microphone.css">
    <link rel="stylesheet" href="assets/main.css" />
    <script src="assets/microphone.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-route.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-cookies.min.js"></script>
    <script src="assets/main.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>

    <div ng-controller="userInput">
      <div class="container">
        <img src="assets/logo.svg" class="logo" alt="">
        <div class="mic-main">
          <div class="center-container col-md-6 col-md-offset-3">
            <img class="mic-icon" src="assets/microphone.svg" alt="" ng-model="microphone" ng-click="startMic()">
            <p>Just click the microphone and talk!</p>
            <input type="text">
            <ul>
              <li>Search for images of...</li>
              <li>Post to Twitter...</li>
              <li>Search Evernote...</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>